[submodule "bench/third_party/enet"]
	path = bench/third_party/enet
 	url = git@github.com:lsalzman/enet.git
  	ignore = dirty
[submodule "bench/third_party/kcp"]
	path = bench/third_party/kcp
  	url = git@github.com:skywind3000/kcp.git
  	ignore = dirty
